* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    /* background-image: linear-gradient(to bottom right, #1A1A1D  70%,  #950740); */
    background-color: #111927;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: monospace;
}
a {
    color: #f06543;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111927;
    box-shadow: 0 0 10px rgba(11, 11, 11, 0.572);
}
li a {
    transition:all 0.2s ease-in;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
li a:hover {
    color: #ffffff;
    text-shadow: 0 0 4px #f06543;

}
ul {
    font-size: 22px;
    display: flex;
    gap: 40px;
    margin-right: 120px;
    display: flex;
}
#name {
    font-size: 40px;
    margin-left: 120px;
    color: #ff5733;
}
#menu-box {
    display: none;
}
#menu-icon {
    display: none;
}
#menu-box:checked ~ ul {
    transform: scale(1,1);
}
#home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* text-align: center; */
    color: rgb(0, 0, 0);
}
p {
    color: #9ca3af;
    font-size: 14px;
}
span {
    display: block;
    font-size: 120px;
    color: #ff5733;
    text-shadow: 0 0 8px #ff5733;
}
.highLight {
    display: inline;
    font-size: 14px;
    color: #ff5733;
    text-shadow: 0 0 8px #ff5733;
}
h2 {
    font-size: 50px;
    color: #a3a3a3;
}
h1 {
    color: rgb(8, 5, 5);
}
.btns {
    display: flex;
    gap: 30px;
}
.btn {
    margin-top: 10px;
    background-image: linear-gradient(to top right, orange, red, rgb(186, 0, 186));
    width: 40px;
    align-items: center;
    /* justify-content: center; */
    height: 40px;
    display: flex;
    border-radius: 5px;
    transition: 0.4s;
}
h4 {
    display: none;
}
.btn-0:hover {
    width: 140px;
    justify-content: flex-start;
}
.btn-0:hover  h4 {
    display: block;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.btn:hover {
    width: 160px;
    justify-content: flex-start;
}
.btn:hover  h4 {
    display: block;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.btn-0 {
    margin-top: 10px;
    background-color: red;
    width: 40px;
    align-items: center;
    /* justify-content: center; */
    height: 40px;
    display: flex;
    border-radius: 5px;
    transition: 0.4s;
}
.fa-instagram {
    color: white;
    font-size: 25px;
    margin-left: 3px;

}
.fa-youtube {
    color: white;
    font-size: 25px;    
    margin-left: 3px;
}
.photo {
    border-radius: 0px 40% 0px 40%;
    border: 2px solid #ff5733;
    box-shadow: 0 0 12px #ff5733;
}
@media screen and (max-width:1250px) {
    ul{
        flex-direction: column;
        position: absolute;
        background-color: black;
        left: 0px;
        padding-left: 40px;
        top: 100px;
        align-items: start;
        background-color: #151418;
        width: 100%;
        transform-origin: top;
        transform: scale(1,0);
        transition: transform 0.3s ease-in-out ;
    }
    #menu-icon {
        display: block;
    }
    #btn {
        margin-bottom: 30px;
    }
    #name {
        margin-left: 2px;
        font-size: 30px;
    }
    #home {
        flex-direction: column-reverse;
        text-align: center;
    }
    .photo {
        width: 200px;
        margin-top: 120px;
        margin-bottom: -240px;
    }
    .btns {
        justify-content: center;
    }
    h2 {
        font-size: 30px;
        margin-top: 20px;
    }
    span {
        font-size: 50px;
    }
    p {
        font-size: 13px;
    }
    .highLight {
        font-size: 13px;
    }
}
